<div id="content">

  <h1 class="display-1 font-weight-normal text-center p-3">iLeaf-iLearn</h1>

  <div id="description">
    <p class="text-center align-middle pt-4 pl-4 pr-4">With iLeaf-iLearn, you can create a terrarium while learning about sustainability!</p>
    <button id="start-quiz-btn" [routerLink]="['/quiz']">
      Start Quiz
    </button>
  </div>

</div>

<img id="succ01" src="../../assets/images/succ01.PNG" height=450px;>
<img id="succ02" src="../../assets/images/succ02.PNG" height=450px;>
