

<div *ngFor="let question of quizData; let i = index;">
  <quiz-question *ngIf="i == currentIndex"
    [questionData]="question"
    [ngClass]
    (correctAnswerChosen)=openExplanationModal(question.explanation)>
  </quiz-question>
</div>

<progress-plant #plant></progress-plant>

<!-- Choose Terrarium Modal -->
<div id="chooseTerrariumModal" class="modal">
    <!-- <div class="modal-header">
        <h4 class="modal-title">Before you start learn more...</h4>
      </div>
      <div class="modal-body">
        <p>Choose your terrarium bowl! (You'll get to decorate it once you complete some questions!)</p>
        <div id="selectedTerrariumBowl"></div>
        <div class="terrariumBowlOptions">
            <div *ngFor="let bowl of terrariumBowls" class="terrariumBowlOption">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeChooseTerrariumModal()">Close</button>
      </div> -->

  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Before you learn more...</h4>
      </div>
      <div class="modal-body">
        <p>Choose your terrarium bowl! (You'll get to decorate it once you complete some questions!)</p>
        <div id="selectedTerrariumBowl"></div>
        <div class="terrariumBowlOptions">
            <div *ngFor="let bowl of terrariumBowls" class="terrariumBowlOption">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeChooseTerrariumModal()">Close</button>
      </div>
  </div>
</div>

<!-- Choose Plant Modal -->
<div id="choosePlantModal" class="modal">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add a Plant!</h4>
        </div>
        <div class="modal-body">
          <p>Choose your terrarium bowl! (You'll get to decorate it once you complete some questions!)</p>
          <div id="selectedTerrariumBowl"></div>
          <div class="terrariumBowlOptions">
              <div *ngFor="let bowl of terrariumBowls" class="terrariumBowlOption">
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="closeChoosePlantModal()">Close</button>
        </div>
  </div>
</div>