#home-button
{
  background-color: #92C1A0;
  border: none;
  width: 110px;
  height:75px;
  position: absolute;
  left: 10px;
  top: 10px;
}

#home-button:hover
{
  background-color: #B1DBBE;
}


#selectedTerrariumBowl {
    height: 350px;
    background: rgb(224, 237, 241);
    margin: 15px;
}

.terrariumBowlOptions {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    height: 150px;
    padding: 20px;
}

.plant:hover {
  cursor: pointer;
}

.plantOptions {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(255, 236, 236, 0.4);
}
  
  .modal-content {
    margin: 15px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 800px;
  }

  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
  }

  #terra-close, #plant-close
  {
    background-color: rgba(248, 220, 102, 1);
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }