
* {
    text-align: center;
}

.choice-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    margin: 50px auto;
    grid-gap: 30px;
}

.choice-text {
  margin: auto;
}

.choice-img {
  width: 200px; 
  height: 200px; 
  object-fit: contain;
}

.choice-img-text:hover .choice-img {
  cursor: pointer;
  width: 230px; 
  height: 230px; 
  object-fit: contain;
  transition: 0.4s;
}

.wrapper-lg {
  width: 300px; 
  height: 300px;
}

.wrapper-sm {
  margin: auto;
  width: 300px;
  height: 200px;
}

.choice-text {
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  background: #9dc385d9;
  width: 250px;
  font-weight: bold;
  height: 100px;
}

.choice-text:hover {
  width: 280px;
  height: 110px;
  transition: 0.4s;
  cursor: pointer;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
  
@keyframes shake {
    10%, 90% {
      transform: translate3d(-4px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(5px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-7px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(7px, 0, 0);
    }
}